
body{
  background:#f2f2f2;
}
.productsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  display: flex;
  width: 500px;
  flex-direction: column;
  height: 500px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 30px;
  /* border: 1px solid rgba(0, 0, 0, 0.856); */
}

.productContent{
  height: 40%;
  padding: 20px;

}

.image{
  height: 60%;
  display: flex;
  padding: 20px;
  object-fit: cover;
  object-position: center center;
  justify-content: center;
}

.addtoCart{
  background-color: #1976d2;
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: white;
}

.price{
  font-size: 30px;
  font-weight: bolder;
  color: #1976d2;
  margin-bottom: 5px;
}

.title{
  font-weight: bolder;
  margin-bottom: 5px;
  font-size: 17x;
}

.description{
  margin-bottom: 5px;
  color: gray;
  opacity: 0.8;
}

.checkout{
  background-color: white;
  width: 800px;
  padding: 20px;
}

.checkoutContainer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.checkoutItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table, th, td {
  border: 1px solid;
  padding: 5px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
th{
  padding-left:5px ;
}
table{
  width: 100%;
  text-align: center;

}